<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Lista de Exercicios (Servlets e JSP)</display-name>
  <absolute-ordering></absolute-ordering>
  
  <servlet>
    <servlet-name>token</servlet-name>
    <servlet-class>funcao.token</servlet-class> <!-- Caminho completo da classe -->
  </servlet>
  <servlet-mapping>
    <servlet-name>token</servlet-name>
    <url-pattern>/token</url-pattern> <!-- Adicionando o mapeamento para o servlet token -->
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DadosServlet</servlet-name>
    <servlet-class>funcao.DadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DadosServlet</servlet-name>
    <url-pattern>/dados</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ContadorVisitasServlet</display-name>
    <servlet-name>ContadorVisitasServlet</servlet-name>
    <servlet-class>funcao.ContadorVisitasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContadorVisitasServlet</servlet-name>
    <url-pattern>/ContadorVisitasServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>formulario.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
